@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 80%;

}

ul,
ol,
li {
    list-style: none;
}

nav,
section,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 70px;
}

/* ==== common css end ======= */
.menu-part {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.menu-cont {
    display: flex;
}

.menu-login {
    flex-basis: 50%;
}

.menu-login a {

    line-height: 44px;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: black;
    padding: 0 10px;
}

.menu-login ul a i {
    padding-right: 10px;
}

.main-menu {
    flex-basis: 70%;
}

.main-menu ul {
    display: flex;
    justify-content: flex-end;
    line-height: 46px;
}

.main-menu ul li a {
    margin-right: 25px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.main-menu ul li a:hover {
    color: orange;
    font-weight: bold;
}

/* ==== menu end ====== */
.collection-part {
    padding: 20px 0 0;

}

.collection-title {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.collection-title h2 {
    color: #3A3A3A;
    font-size: 28px;
}

.collection-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.collection-img img {
    width: 100%;
    height: 256px;
}

.collection-info {
    padding: 15px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}

.collection-details h2 {
    color: #18191F;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
    padding: 5px 0;
}

.collection-details h3 {
    color: #18191F;
}

.collection-star i {
    color: orange;
    font-size: 12px;
}

.collection-star span {
    color: gray;
    font-weight: 600;
}

.collection-details p {
    color: #6C6C6C;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.collection-details p span {
    display: block;
}

.see-more {
    padding: 20px 0;
    display: flex;
    justify-content: right;
}

.see-more a {
    color: orange;
    font-weight: bold;
}

/* ==== collection end == */
.contact-form input {
    width: 350px;
    margin: 20px auto;
}

.contact-form input:nth-child(3) {
    width: 350px;
}

.contact-text h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

/* === contact part end == */
.footer-part {
    padding: 40px 0;
    text-align: center;
    background: rgb(4, 4, 32);
}

.footer-logo img {
    width: 483px;
    height: 110px;
}

.footer-social ul {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.footer-social ul li a {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #aaaa;
    color: black;
    margin-left: 16px;
    font-size: 15px;
    font-weight: 700;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.footer-social ul li a:hover {
    background: #fff;
    color: orange;
}

.footer-top {
    color: #fff;
}

.footer-top p {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    padding-top: 10px;
}

.footer-top p span {
    display: block;
}

.search-menu {
    display: none;
}

.all-menu {
    display: block;
}

/* === footer end ====== */
@media only screen and (max-width:575.98px) {
    body {
        overflow-x: hidden;
    }

    .container {
        width: 100%;

    }

    section {
        margin-bottom: 60px;
    }

    .main_menu ul {
        display: block;
        text-align: center;
        line-height: 38px;

    }

    .main_menu ul li a {
        margin-right: 0;
        font-size: 12px;

    }


    .search_menu {
        display: block;
        display: grid;


    }

    .search_menu i {
        font-size: 25px !important;
        margin-top: 10px;
        margin-left: 40px;
    }

    .all_menu {
        display: none;
    }

    .menu_login ul a {
        width: 138px;
        height: 39px;
        line-height: 38px;
        margin-right: 70px;
    }

    #banner_part {
        background: rgb(4, 4, 32);
        padding: 150px 0 60px;
    }

    .banner_inner {
        padding: 0 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .banner_img {
        text-align: center;
    }

    .banner_img img {
        width: 300px;
        height: 210px;
    }

    .banner_text h1 {
        font-size: 25px;
    }

    .banner_text {
        padding-bottom: 0;
        text-align: center;
        order: 2;
    }

    .banner_text p {
        width: 300px;
        font-size: 13px;
        margin: 20px auto;
    }

    .banner_btn a {
        width: 160px;
        height: 43px;
        line-height: 41px;
        font-size: 14px;
        margin: 10px auto 0;
    }

    /* menu & banner part end */
    #product_part {
        margin: 30px;
    }

    .product_area {
        grid-template-columns: repeat(1, 1fr);
    }

    .product_image {
        display: flex;
        justify-content: center;
    }

    .product_image img {
        width: 350px;
    }

    .product_details {
        order: 2;
        margin-top: 20px;
        text-align: center;
    }

    .product_details h2 {
        font-size: 30px;
    }

    .product_details p {
        color: #6C6C6C;
        font-size: 13px;
        font-weight: bold;
        margin: 20px 0;
    }

    /*====== products part ===== */

    .collection_inner {
        grid-template-columns: repeat(1, 1fr);

    }

    #collection_part {
        padding: 0;
        margin-left: 30px;
        margin-right: 30px;

    }

    #menu_part,
    .banner_inner {
        margin-left: 18px;
        margin-right: 18px;

    }


    .collection_dtl {
        margin-top: 22px;
        margin-right: 10px;
    }

    .contact_form input {
        width: 350px;
        margin: 20px auto;
    }

    .contact_form input:nth-child(3) {
        width: 350px;
    }

    .contact_text h3 {
        font-size: 22px;
        margin-bottom: 20px;

    }

    #footer_part {
        padding: 10px 0 20px;
    }

    .footer_logo img {
        width: 245px;
        height: 70px;
    }

    .footer_social ul li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-left: 12px;
        font-size: 13px;
    }

    /* products, collection & footer part end */

}