@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 80%;

}

ul,
ol,
li {
    list-style: none;
}

nav,
section,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 70px;
}

/* ==== common css end ======= */
.menu-part {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.menu-cont {
    display: flex;
}

.menu-login {
    flex-basis: 50%;
}

.menu-login a {

    line-height: 44px;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: black;
    padding: 0 10px;
}

.menu-login ul a i {
    padding-right: 10px;
}

.main-menu {
    flex-basis: 70%;
}

.main-menu ul {
    display: flex;
    justify-content: flex-end;
    line-height: 46px;
}

.main-menu ul li a {
    margin-right: 25px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.main-menu ul li a:hover {
    color: orange;
    font-weight: bold;
}

/* ==== menu end ====== */